{% extends "main.html" %}

{% block container %}
  <script type="text/javascript">
    document.querySelectorAll(".md-nav__list a").forEach(e => {
      if (e.getAttribute("href") === "../operations.html") {
        e.classList.add("md-nav__link--active")
      }
    })
  </script>

  <div class="md-content" data-md-component="content">

    <!-- Navigation path (breadcrumbs) -->
    {% if "navigation.path" in features %}
      {% include "partials/path.html" %}
    {% endif %}

    <!-- Page content -->
    <article class="md-content__inner md-typeset">
      {% block content %}
        {% include "partials/content.html" %}
      {% endblock %}
    </article>
  </div>
{% endblock %}
