[Unit]
Description=My Web Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
user=myweb
WorkingDirectory=/web
ExecStart=/usr/local/bin/myweb.sh

[Install]
WantedBy=multi-user.target
