body {
    background: white;
}


/*
    Layout */

div#right-column, div.footer {
    margin: 0 auto;
    padding-left: 350px;
    max-width: 1300px;
}

div.footer-relations {
    padding: 12px 0;
}

div.footer {
    padding-right: 0;
    font-size: 12px;
    text-align: left;
}

@media screen and (max-width: 768px) {
    div#right-column {
        padding-left: 20px;
    }
}


/*
    Syles */

.sphinxsidebar p.caption {
    font-weight: bold;
    text-transform: uppercase;
    color: #606060;
    font-size: 14px;
    margin-left: 17px;
}

h1 {
    background: transparent;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}

h2 code {
    font-size: 32px;
}

.breadcrumb {
    padding: 8px 0;
}

.body {
    padding: 0;
}

a.text-logo, a.text-logo:active {
    text-decoration: none;
    color: white;
}
a.text-logo:hover {
    background-color: #2a6496;
}


/*
    Index only */

div#pyinfra-documentation div.compound {
    width: 46%;
    margin-right: 3%;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}
div#pyinfra-documentation div.compound.toctree-wrapper {
    display: none;
}
    div#pyinfra-documentation div.compound a {
        font-size: 18px;
    }
    div#pyinfra-documentation div.compound dd {
        margin-left: 0;
    }
