@import 'css/theme.css';


.wy-nav-side {
    background: rgb(240, 240, 240) !important;
}

.wy-side-nav-search {
    background: #556270 !important;
}

.wy-side-nav-search input[type=text] {
    border-radius: 0 !important;
}

.wy-nav-content-wrap {
    position: relative !important;
}

.wy-nav-content {
    background: #FCFCFC !important;
}

.wy-menu-vertical a:hover {
    background-color: #fcfcfc !important;
    color: #404040 !important;
}

.wy-menu-vertical a {
    color: #909090 !important;
}

.wy-menu-vertical li.current > a {
    border: none !important;
}

.wy-menu-vertical li.current a {
    border: none !important;
}

.wy-menu-vertical li code {
    font-size: 100% !important;
}

.rst-versions {
    border-top: none !important;
    background-color: #556270 !important;
}

.rst-versions .rst-current-version {
    background: transparent !important;
}
