[flake8]
exclude = .git,.venv,build
ignore = W503,C815,C816,E704,E203,SC
max-line-length = 100

# flake8-quotes
inline-quotes = double
multiline-quotes = double
docstring-quotes = double

# flake8-import-order
import-order-style = edited
application-import-names = pyinfra,pyinfra_cli,docs

# flake8-spellcheck
whitelist = tests/words.txt
dictionaries=en_US,python,technical,django
