.DS_Store
.ropeproject

*.pyc
*.egg-info

.*sw[pno]

build/
dist/

venv/
.venv/
.cache/
.mypy_cache/
.pytest_cache/
.python-version

.vagrant*

.coverage

.docstmp
docs/build/
docs/public/
docs/connectors/
docs/facts/
docs/operations/
docs/apidoc/
docs/_deploy_globals.rst

.idea/
.vscode/

pyinfra-debug.log
Makefile
