.DS_Store

*.pyc
*.egg-info

.*swp

build/
dist/

venv/
.cache/

.vagrant*

.coverage

.docstmp
docs/build/
docs/public/
docs/facts/
docs/operations/
docs/apidoc/
docs/_deploy_globals.rst

.idea/

pyinfra-debug.log
