# Language setup
language: python
python:
  - '2.7'
  - '3.3'
  - '3.4'
  - '3.5'
  - '3.6'
  - 'nightly'

# Install pyinfra + test deps
install: 'pip install -e .[test]'

# Run the tests
script: nosetests
