default vesamenu.c32
 
 
label install1
    menu label ^Install Ubuntu 18.04 LTS Desktop
    menu default
    kernel ubuntu1804/vmlinuz
    append initrd=ubuntu1804/initrd boot=casper netboot=nfs nfsroot={{ pxe_server }}:/netboot/nfs/ubuntu1804/ splash toram ---
