This file was last modified by pyinfra on {{ host.get_fact(facts.server.Date) }}

You can use a variable from the deploy
foo_variable contents is:{{ foo_variable }}

Example host templating values:
hostname: {{ host.get_fact(facts.server.Hostname) }}
os: {{ host.get_fact(facts.server.Os) }}
arch: {{ host.get_fact(facts.server.Arch) }}
cpus: {{ host.get_fact(facts.hardware.Cpus) }}
os_version: {{ host.get_fact(facts.server.OsVersion) }}

deb_packages: {{ host.get_fact(facts.deb.DebPackages)|join(', ') }}
