This file was last modified by pyinfra on {{ host.fact.date }}

You can use a variable from the deploy
foo_variable contents is:{{ foo_variable }}

Example host templating values:
hostname: {{ host.fact.hostname }}
os: {{ host.fact.os }}
arch: {{ host.fact.arch }}
cpus: {{ host.fact.cpus }}
os_version: {{ host.fact.os_version }}

deb_packages: {{ host.fact.deb_packages|join(', ') }}

