# Global settings
#domain-needed
bogus-priv
#no-resolv
expand-hosts
filterwin2k

# Upstream nameservers
server=8.8.4.4
server=8.8.8.8

interface={{ interface }}
bind-interfaces

domain=linuxhint.local

dhcp-range={{ interface }},{{ dhcp_start }},{{ dhcp_end }},255.255.255.0,8h
dhcp-option=option:router,{{ dns_server }}
dhcp-option=option:dns-server,{{ dns_server }}
dhcp-option=option:dns-server,8.8.8.8

enable-tftp
tftp-root=/srv/tftp

# ---- which to boot ---
# if you just want legacy bios, uncomment and use only this line
#dhcp-boot=pxelinux.0
# if you just want UEFI, uncomment this line and only use this line
#dhcp-boot=grubnetx64.efi.signed

# if you want to boot either legacy or UEFI, use options below

# Test for the architecture of a netboot client. PXE clients are
# supposed to send their architecture as option 93. (See RFC 4578)
dhcp-match=x86PC, option:client-arch, 0 #BIOS x86
dhcp-match=BC_EFI, option:client-arch, 7 #EFI x86-64

## Load different PXE boot image depending on client architecture
pxe-service=tag:x86PC,X86PC, "Install Linux on x86 legacy BIOS", pxelinux.0
pxe-service=tag:BC_EFI,BC_EFI, "Install Linux on x86-64 UEFI", grubnetx64.efi.signed

## Set boot file name only when tag is "bios" or "uefi"
dhcp-boot=tag:x86PC,pxelinux.0  # for Legacy BIOS detected by dhcp-match above
dhcp-boot=tag:BC_EFI,grubnetx64.efi.signed # for UEFI arch detected by dhcp-match above
